@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue-roman-webfont.eot');
  src: url('../fonts/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneue-roman-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneue-roman-webfont.woff') format('woff'),
  url('../fonts/helveticaneue-roman-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'tticons';
    src: url('../fonts/tticons.eot');
    src: url('../fonts/tticons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tticons.woff') format('woff'),
         url('../fonts/tticons.ttf') format('truetype'),
         url('../fonts/tticons.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: 'Brandon Text';
    src: url('hvd_fonts_-_brandontext-medium-webfont.eot');
    src: url('hvd_fonts_-_brandontext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('hvd_fonts_-_brandontext-medium-webfont.woff2') format('woff2'),
         url('hvd_fonts_-_brandontext-medium-webfont.woff') format('woff'),
         url('hvd_fonts_-_brandontext-medium-webfont.ttf') format('truetype'),
         url('hvd_fonts_-_brandontext-medium-webfont.svg#brandon_textmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icon-lg, .icon-sm { color: #999; display: inline-block; font-family: "tticons"; -webkit-font-smoothing: antialiased; /* For more detail on this property, see Tim Van Damme's blog post. */ font-style: normal; font-weight: normal; line-height: 1; } .icon-sm { height: 18px; font-size: 12px; line-height: 18px; width: 18px; } .icon-lg { height: 30px; font-size: 20px; line-height: 30px; width: 30px; }
.icon-org:before { content: "\f000"; } .icon-member:before { content: "\f001"; } .icon-board:before { content: "\f002"; } .icon-comment:before {content: "\e910";} .icon-attachment:before {content: "\f010";} .icon-description:before {content: "\e911";} .icon-checklist:before {content: "\e90d";}

body {
  background-color: #e2e4e6;
  /*background-image: radial-gradient(50% 69%, #E8A3A3 0%, rgba(245,245,245,0.10) 0%, rgba(226,228,230,0.10) 0%, rgba(200,58,58,0.10) 70%);*/
  /*background-repeat: no-repeat;*/

}

a {
  clear: both;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0px 0 6px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-user-select: none;
}

span {
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 9pt;
  color: #8c8c8c;
}

/*.toptask {
  position: relative;
}*/

/*.container {
  position: relative;
}*/

#loggedout {
}

#loggedin {
  display: none;
  position: relative;
}

.login {
  text-align: center;
  display: inline-block;
}

#welcome-loading {
  position: fixed;
  background-color: #C83B3B;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: block;
  text-decoration: none;
  z-index: 9997;
  outline: none;
}


.logo {
  position: absolute;
  top: 17px;
  left: 10px;
  background-image: url('../images/tt-logo.png');
  background-repeat:no-repeat;
  height: 30px;
  width: 33px;
  margin-left: 12px;
}

.login-spacer {
  position: absolute;
  top: 17px;
  left: 75px;
  height: 30px;
  width: 1px;
  border-radius: 2px;
  opacity: 0.2;
  background-color: #ffffff;
}

.login-button {
  position:absolute;;
  top: 17px;
  right: 20px;
  font-family: "Brandon Text";
  background-color: #EF9B59;
  width: 148px;
  padding: 5px 0 5px 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  text-decoration: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: #FEE785;
  color: #A42127;
}

.loading {
  position: absolute;
  top: 17px;
  left: 100px;
  color: #ffffff;
  font-family: "Brandon Text";
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  margin-left: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 15px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 15px;
  }
}

#output {
  padding: 8px;
  cursor: pointer !important;
}

.cardName {
  margin-top: 15px;
}

.cardMainContainer {
  overflow: auto;
  padding: 7px 8px 0px 8px;
  position: relative;
  z-index: 10;
}

.cardActual {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  max-width: 250px;
  min-height: 20px;
  position: relative;
  z-index: 0;
}

.cardLabel {
  display: inline-block;
  float: left;
  background-color: #cccccc;
  display: block;
  height: 8px;
  margin: 2px 4px 0px 0;
  width: 42px;
  line-height: 75pt;
  border-radius: 3px;
}


.badge {
  margin: 0px 0px 10px 5px;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 10pt;
  font-weight: 500;
  color: #8c8c8c;
}

.badge-group {
  display: inline-block;
  /*padding-right: 4px;*/
}

.badge-spacer {
  margin-left: 8px;
}

.badge-text {
  padding: 0 2px 0 0px;
}

#checklistOutput {
  /*padding-left: 4px;*/
}

#commentOutput {
  /*padding-left: 4px;*/
}


.toggle {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: block;
  text-decoration: none;
  z-index: 9997;
  outline: none;
  cursor: pointer;
}

.icons {
  display: none;
  float: right;
  margin: 12px 12px auto;
  z-index: 9999;
}

.icon-background {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.30);
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  margin: 0px 2px 0px 2px;
}

.icon-background:hover {
  background-color: rgba(0, 0, 0, 0.70);
}

.tick {
  width: 38px;
  height: 38px;
  /*margin: 0 15px auto;*/
  background-image: url('../images/tick.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.back {
  width: 36px;
  height: 35px;
  background-image: url('../images/back.png');
  background-position: 45%, 47%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.drag {
  width: 38px;
  height: 38px;
  background-image: url('../images/drag.png');
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  cursor: move;
  -webkit-app-region: drag;
}

#cardOutput {
  margin-bottom: -3px !important;
}

#connectLink {
  cursor: pointer;
}

body.default {
    transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -ms-transform: scale(1);
    -ms-transform-origin: 0 0;
}
body.pulse {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(1.05);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.05);
    -o-transform-origin: 0 0;
    -ms-transform: scale(1.05);
    -ms-transform-origin: 0 0;
}

body.pulse-wide {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(1.2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.2);
    -o-transform-origin: 0 0;
    -ms-transform: scale(1.2);
    -ms-transform-origin: 0 0;
}
